
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;700&display=swap');

* {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

.App {
    display: block;
    margin: 2rem 0rem;
}